# Merging Cryptocurrency

### Instructions

* Read in both of the CSV files and print out their DataFrames.

* Perform an inner merge that combines both DataFrames on the "Date" column.

* Rename the columns within the newly merged DataFrame so that the headers are more descriptive.

* Create a summary table that includes the following information: `Best Bitcoin Open`, `Best Dash Open`, `Best Bitcoin Close`, `Best Dash Close`, `Total Bitcoin Volume`, `Total Dash Volume`.

* `Total Bitcoin Volume` and `Total Dash Volume` should be calculated to have units of "millions" and be rounded to two decimal places.

### Import Dependencies

In [1]:
import pandas as pd

### Load data files

In [2]:
# Specify path to files
bitcoin_csv = "Resources/bitcoin_cash_price.csv"
dash_csv = "Resources/dash_price.csv"

# read files from path
bitcoin_df = pd.read_csv(bitcoin_csv)
dash_df = pd.read_csv(dash_csv)

### View bitcoin data

In [3]:
bitcoin_df.head()

        Date    Open    High     Low   Close       Volume     Market Cap
0  17-Sep-17  438.90  438.90  384.06  419.86  221828000.0  7,279,520,000
1  16-Sep-17  424.49  450.98  388.20  440.22  313583000.0  7,039,590,000
2  15-Sep-17  369.49  448.39  301.69  424.02  707231000.0  6,126,800,000
3  14-Sep-17  504.22  510.47  367.04  367.04  257431000.0  8,359,650,000
4  13-Sep-17  509.47  519.20  471.22  503.61  340344000.0  8,445,540,000

### View dash data

In [27]:
dash_df.head()
dash_df.dtypes

Date           object
Open          float64
High          float64
Low           float64
Close         float64
Volume        float64
Market Cap     object
dtype: object

### Merge the two DataFrames together based on the Dates they share

**NOTE:** `pd.merge` allows for a *suffixes* argument, which appends a string to the end of each table's column headers to differentiate them.

**Example:** `pd.merge(tbl_A, tbl_B, on=user_id, suffixes=("_A", "_B"))`

In [11]:
combined_df = pd.merge(dash_df,bitcoin_df,on='Date',suffixes=('_dash','_btc'))

### Create variables containing max open, max close, and the total volume for both currencies

In [23]:
# Collecting best open for Bitcoin and Dash
maxbtc = combined_df['Open_btc'].max()
maxdash = combined_df['Open_dash'].max()

# Collecting best close for Bitcoin and Dash
closebtc = combined_df['Close_btc'].max()
closedash = combined_df['Close_dash'].max()


# Collecting the total volume for Bitcoin and Dash
volumebtc = combined_df['Volume_btc'].sum()
volumedash = combined_df['Volume_dash'].sum()

pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

### Use variables from above to create a summary DataFrame

In [25]:
summary = pd.DataFrame(data=[maxbtc,maxdash,closebtc,closedash,volumebtc,volumedash])  #use dictionary

In [26]:
summary

              0
0  7.724200e+02
1  4.004200e+02
2  7.545600e+02
3  3.998500e+02
4  2.438305e+10
5  2.960278e+09