In [1]:
import pandas as pd

In [46]:
tmp = [{'product': 1, 'price': '$10'},
       {'product': 2, 'price': '$20'},
       {'product': 3, 'price': '$30'},
       {'product': 4, 'price': '$40'},
       {'product': 5, 'price': '$50'}]
df = pd.DataFrame(tmp)

In [47]:
df

  price  product
0   $10        1
1   $20        2
2   $30        3
3   $40        4
4   $50        5

In [52]:
for index, row in df.iterrows():
    # df.at[INDEX_NUMBER, COLUMN_NAME] = NEW_VALUE
    df.at[index, 'year'] = index.year
    df.at[index, 'month'] = index.month

In [54]:
df["blankCol"] = None
df

   price  product  year blankCol
0     10        1     0     None
1     20        2     1     None
2     30        3     2     None
3     40        4     3     None
4     50        5     4     None

In [9]:
df['price'].apply(lambda x: x if isinstance(x, (int, float)) else None)

0    10.0
1    20.0
2    30.0
3    40.0
4     NaN
Name: price, dtype: float64