# Binning TED Talks

### Instructions

* Read in the CSV file provided and print it to the screen.

* Find the minimum "views" and maximum "views".

* Using the minimum and maximum "views" as a reference, create 10 bins in which to slice the data.

* Create a new column called "View Group" and fill it with the values collected through your slicing.

* Group the DataFrame based upon the values within "View Group".

* Find out how many rows fall into each group before finding the averages for "comments", "duration", and "languages".

#### Import Dependencies

In [1]:
import pandas as pd

#### Load data file

In [2]:
csv_path = "Resources/ted_talks.csv"
ted_df = pd.read_csv(csv_path)

ted_df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869

### Print out the minimum and maximum views for a TED Talk

In [4]:
#Print min
print(ted_df['views'].min())
#Print max
print(ted_df['views'].max())

50443
47227110

### Create bins in which to place values based upon TED Talk views, then create group labels for the bins
- **HINT:** Use the printed out `min` and `max` from above to guide your bin selections.
- **HINT:** Try staying around 10-11 bins

In [ ]:
# Create bins 


# Create labels for these bins

### Slice the data and place it into bins

### Place the data series into a new column inside of the DataFrame

### Create a GroupBy object based upon "View Group"

### Find how many rows fall into each bin

**NOTE:** You'll want to use a function that **counts** the rows

### Display the average of each numeric column within the GroupBy object