In [10]:
import pandas as pd


df=pd.DataFrame({'id': ['a','b','c','d','e','a','b','c','d','e','a','b','c','d','e'],
             'day': ['Mon','Tue','Wed','Thu','Fri','Mon','Tue','Wed','Thu','Fri','Mon','Tue','Wed','Thu','Fri']})

In [11]:
df

   id  day
0   a  Mon
1   b  Tue
2   c  Wed
3   d  Thu
4   e  Fri
5   a  Mon
6   b  Tue
7   c  Wed
8   d  Thu
9   e  Fri
10  a  Mon
11  b  Tue
12  c  Wed
13  d  Thu
14  e  Fri

In [12]:
df_g = df.groupby('day')

In [13]:
df_g

In [15]:
tmp = df_g['id'].unique()

In [20]:
tmp['Mon'] = tmp['Mon'][0]

In [21]:
tmp

day
Fri    [e]
Mon      a
Thu    [d]
Tue    [b]
Wed    [c]
Name: id, dtype: object